#language-toggle {
    position: fixed;
    border: none; 
    border-radius: 12px; 
    opacity: 0.6; 
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(19, 19, 19); 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    top: 2%; 
    z-index: 1; 
    right: 2%; 
    left: auto; 
    overflow: hidden; 
    transition: opacity 0.2s ease;
}

#language-toggle:hover {
    opacity: 1; 
    background-color: rgba(255, 255, 255, 0.722);
}

#language-toggle .circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(0);
    animation: ripple 0.6s linear;
    pointer-events: none;
}
