@import url("font.css.css");
html,
body,
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #212526;
  display: grid;
  place-content: center;
}

:root {
  --active-offset: 13px;
}

.sidebar-container {
  width: 300px;
  height: 55px;
  position: relative;
}
.sidebar-container .sidebar-items {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 7px;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  padding-top: 3px;
  box-sizing: border-box;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.sidebar-item .icon {
  width: 22px;
  stroke: #000;
  stroke-width: 1.5px;
  position: absolute;
  z-index: 4;
  bottom: 0;
  transition: bottom 0.4s;
  cursor: pointer;
}
.sidebar-item .title {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  position: relative;
  top: 30px;
  opacity: 0;
  transition: top 0.4s, opacity 0.4s;
}

.active-circle {
  width: 45px;
  height: 45px;
  background-color: #3ee387;
  position: absolute;
  top: -53%;
  border-radius: 50%;
  z-index: 2;
  border: 5px solid #212526;
  left: var(--active-offset);
  transition: left 0.4s;
}

.sidebar-item.active .icon {
  bottom: 26px;
}
.sidebar-item.active .title {
  top: 10px;
  opacity: 0.9;
}